@model List<Permission>

@{
    ViewData["Title"] = "Student Attendence";
    List<string> StatusList = [PermissionStatus.Accepted.ToString(), PermissionStatus.Pending.ToString(), PermissionStatus.Refused.ToString()];
    int id = ViewBag.id;

    // Check if there is a permission for today
    bool hasPermissionForToday = Model.Any(p => p.DateCreated.Date == DateTime.Today);
}
@section Styles {
    <link rel=" stylesheet" href="~/css/Employee.css" />
}

@section NavList {
    @Html.Partial("NavButtons_student", id)
}
<div class="mt-4 form-control d-flex justify-content-between">
    <div class="mt-3" style="width: 12% !important;">
        <label for="Status">Status</label>
        <select id="Status" class="form-control">
            <option value="">All</option>
            @foreach (var status in StatusList)
            {
                <option value="@status">@status</option>
            }
        </select>
    </div>

    <div class="mt-2 d-flex flex-wrap">
        <label for="dateFrom">From</label>
        <input id="dateFrom" type="date" class="form-control" />
        <label for="dateTo">To</label>
        <input id="dateTo" type="date" class="form-control" />
    </div>

</div>
<div>
    <br />
    <a asp-action="CreatePermission" asp-route-id=@id class="btn btn-success @if(hasPermissionForToday) { <text>disabled</text> }">Create New Permission</a>

    
    <br />
    <table id="myTable" class="table table-hover text-center table-striped">
        <thead>
            <tr class="text-center">
                <th>Permission Date</th>
                <th>Permission Time</th>
                <th>Reason</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var student_Permission in Model)
            {
                <tr>
                    <td>
                        @if (student_Permission.Status == PermissionStatus.Pending&&DateOnly.FromDateTime(student_Permission.DateCreated)==DateOnly.FromDateTime(DateTime.Now))
                        {
                               <div style="float: left;">
                            <a href="@Url.Action("EditPermission", "Student", new { id = student_Permission.StudentId, permissionDate = student_Permission.DateCreated })">
                                <i class="bx bx-edit fa-stack-1x fa-inverse" style="transform: scale(1.7); color: gray;"></i>
                            </a>
                            </div>

                        }
                        @{
                            var res=DateOnly.FromDateTime(student_Permission.DateCreated);
                            //new DateOnly(student_Permission.DateCreated.Year, student_Permission.DateCreated.Month, student_Permission.DateCreated.Day);
                            res.ToString();
                        }
                        @res
                        
                    </td>
                    <td>
                        
                               @{var x = new TimeOnly(student_Permission.DateCreated.Hour, student_Permission.DateCreated.Minute);}
                               @x
                    
                    </td>
                    <td>
                        
                        @student_Permission.Reason
                    </td>
                    @{
                        string TextClass = "";
                        if(student_Permission.Status==PermissionStatus.Accepted)
                        {
                            TextClass = "text-success";
                        }
                        else if (student_Permission.Status == PermissionStatus.Refused)
                        {
                            TextClass = "text-danger";
                        }
                        else
                        {
                            TextClass = "text-warning";
                        }

                    <td class=" @TextClass fw-bolder">

                        @student_Permission.Status

                            @if (student_Permission.Status == PermissionStatus.Pending && DateOnly.FromDateTime(student_Permission.DateCreated) == DateOnly.FromDateTime(DateTime.Now))
                            {
                                <div style="float: right;">
                                    <a href="@Url.Action("DeletePermission", "Student", new { id = student_Permission.StudentId, permissionDate = student_Permission.DateCreated })" onclick="return confirm('Are you sure to delete this Permission')" >
                                        <i class="bx bx-trash fa-stack-1x fa-inverse" style="transform: scale(2.5); color: red; "></i>
                                    </a>
                                    |<a class="btn btn-danger" asp-action="DeletePermission" asp-route-id="@student_Permission.StudentId" asp-route-permissionDate="@student_Permission.DateCreated" onclick="return confirm('Are you sure to delete this Permission')" as>quick Delete</a>

                                </div>

                            }
                          
                    </td>
                       
                    }
                </tr>

            }

        </tbody>
    </table>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#createPermissionModal').modal({
                show: false
            });

            $('#editPermissionModal').modal({
                show: false
            });

            // Add event listeners to show modals when buttons are clicked
            $('#createPermissionBtn').click(function () {
                $('#createPermissionModal').modal('show');
            });

            $('#editPermissionBtn').click(function () {
                $('#editPermissionModal').modal('show');
            });
        });

    </script>


     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.datatables.net/2.0.3/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/2.0.3/js/dataTables.bootstrap5.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.0.1/js/dataTables.buttons.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.0.1/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.0.1/js/buttons.print.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.0.1/js/buttons.colVis.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.0.1/js/buttons.bootstrap5.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/luxon@3.4.4/build/global/luxon.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <script src="~/js/student_Attendance.js" ></script>

  



}

@* <!-- Add button to open create permission modal -->
<button type="button" id="createPermissionBtn" class="btn btn-success">Create New Permission</button>

<!-- Add button to open edit permission modal -->
<button type="button" id="editPermissionBtn" class="btn btn-primary">Edit Permission</button>

<!-- Include the modals at the end of your main view -->
@Html.Partial("CreatePermissionModal", new Attendance_Management_System.Models.Permission())
@Html.Partial("EditPermissionModal", new Attendance_Management_System.Models.Permission())
 *@