@model Attendance_Management_System.Models.Track
@section NavList
{

    @Html.Partial("navBar")


}
<h2>Delete Track</h2>

<h3>Are you sure you want to delete this Track?</h3>
<div>
    <h4>Program Details</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsActive)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Program)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Program.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Supervisor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Supervisor.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Students)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Students.Count)
        </dd>
    </dl>

    <form asp-action="DeleteTrack" method="post">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger">Confirm Delete</button>
        <a asp-action="TrackIndex" class="btn btn-secondary">Cancel</a>
    </form>
</div>
