@model Attendance_Management_System.Models.Intake
@section NavList
{

    @Html.Partial("navBar")


}
<h2>Intake Details</h2>
<hr />
<dl class="row">
    <dt class="col-sm-2">ID:</dt>
    <dd class="col-sm-10">@Model.Id</dd>
    <dt class="col-sm-2">Number:</dt>
    <dd class="col-sm-10">@Model.Number</dd>
  
    <dt class="col-sm-2">Start Date:</dt>
    <dd class="col-sm-10">@Model.StartDate.ToShortDateString()</dd>
    <dt class="col-sm-2">End Date:</dt>
    <dd class="col-sm-10">@Model.EndDate.ToShortDateString()</dd>
</dl>
<a asp-action="IntakeIndex" class="btn btn-primary">Back to List</a>

