@model IEnumerable<Attendance_Management_System.Models.Track>

@section NavList {
    @Html.Partial("navBar")
}

<h2>Tracks</h2>

<p>
    <a asp-action="CreateTrack">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                Program Name
            </th>
            <th>
                Supervisor Name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Program.Name)
                </td>
                <td>
                    @if (item.Supervisor != null)
                    {
                        @Html.DisplayFor(modelItem => item.Supervisor.NationalId)
                    }
                    else
                    {
                        <text>No Supervisor Assigned</text>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td>
                    <a asp-action="EditTrack" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="TrackDetails" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="DeleteTrack" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
