@model Attendance_Management_System.Models.Track

@section NavList {
    @Html.Partial("navBar")
}

<h2>Track Details</h2>

<div>
    <h4>Track</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProgramId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProgramId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SupervisorId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SupervisorId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsActive)
        </dd>
    </dl>
</div>

<p>
    <a asp-action="TrackIndex">Back to Index</a>
</p>
